body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*Styles added for Assignment*/
.navbar-inverse {
    background-color: lightcoral;
    border-color: transparent;
}

    .navbar-inverse .navbar-brand {
        color: lightcyan;
    }

hr {
    border-top: 2px solid lightcoral;
}

body{
   background-color: lightcyan;
}

.body-content{
    margin-top:30px;
}

footer {
    text-align: center;
}

a:link, a:visited, a:active{
    color:lightcoral;
}

a:hover{
    color: cornflowerblue;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: cornflowerblue;
}

.navbar-inverse .navbar-toggle {
    border-color: lightcoral;
}

.navbar-inverse .navbar-nav > li > a {
    color: lightcyan;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: cornflowerblue;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: cornflowerblue;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: lightcyan;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: lightcyan;
}